.order-section {
  padding: 24px 300px;
}

.order-section__title {
  font-size: 24px;
  font-weight: 600;
}

.order-container {
  display: flex;
  justify-content: space-between;
}

.order-title {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.order-name {
  font-size: 20px;
}

.order-info {
  color: #888888;
}

.order-left-section {
  width: 60%;
  margin-top: 50px;
}

.order-right-section {
  width: 35%;
  height: 260px;
  margin-left: 5%;
  margin-top: 80px;

  border: 1px solid #dddddd;
}

.order-right-section__top {
  display: flex;
  align-items: center;
  padding: 16px 30px;
}

.order-right-section__bottom {
}

.order-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-list__header {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  font-size: 20px;
  background: #f6f6f6;

  border: 1px solid #aaaaaa;
}

.order-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 40px;

  border: 1px solid #aaaaaa;
}

.order-detail-container {
  display: flex;
  justify-content: flex-end;
  margin: 50px 0;
}

.order-detail-title {
  font-size: 24px;
}
