.nav {
  width: 100%;
  height: 80px;

  background: #2ac1bc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.nav-title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;

  color: #ffffff;
}

.nav-button {
  font-weight: 500;
  font-size: 24px;

  color: #ffffff;
}

.nav-button-container {
  display: flex;
}

@media screen and (max-width: 767px) {
  .nav-button-container {
    display: flex;
  }
  .nav-button {
    font-size: 18px;
  }
}
