@import "./common/index.css";
@import "./page/index.css";

body {
  width: 1920px;
  margin: 24px auto 0;
}

.divide-line {
  width: 100%;
  border: 2px solid black;
}

.divide-line-gray {
  width: 100%;
  border: 2px solid #aaaaaa;
}

.divide-line-thin {
  width: 100%;
  border: 1px solid #aaaaaa;
}
