@import "./common/index.css";
@import "./page/index.css";

html body {
  width: 100vw;
  height: 100vh;
  scrollbar-width: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  cursor: pointer;
}

label {
  user-select: none;
}

button {
  cursor: pointer;
}

.divide-line {
  width: 100%;
  border: 2px solid black;
}

.divide-line-gray {
  width: 100%;
  border: 2px solid #aaaaaa;
}

.divide-line-thin {
  width: 100%;
  border: 1px solid #aaaaaa;
}
