.number-input-container {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.number-input {
  width: 3.125rem;
  height: 3.125rem;
  border: none;
  text-align: center;
  font-size: 20px;
}

.number-input-quantity {
  width: 3.125rem;
  height: 3.125rem;
  border: none;
  text-align: center;
  font-size: 20px;
  line-height: 3.125rem;
}

.number-input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
  font-size: 100%;
  cursor: pointer;
}

.number-input-button:focus {
  outline: none;
}
