.primary-button {
  background: #8bacaa;
  font-size: 24px;
  color: white;
  width: 100%;
  padding: 20px;
  border-radius: 0.5rem;
}

.primary-button-small {
  background: #8bacaa;
  font-size: 20px;
  color: white;
  padding: 14px 28px;
  border-radius: 0.5rem;
}
