@import "./common/index.css";
@import "./page/index.css";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

  margin: 0 !important;
  padding: 0 !important;
}

.divide-line {
  width: 100%;
  border: 2px solid black;
}

.divide-line-gray {
  width: 100%;
  border: 2px solid #aaaaaa;
}

.divide-line-thin {
  width: 100%;
  border: 1px solid #aaaaaa;
}

.app-container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
}

#storybook-root {
  width: 100%;
  height: 100%;
}
