.cart-section {
  padding: 24px 100px;
  margin-bottom: 50px;
}

.cart-section__title {
  font-size: 24px;
  font-weight: 600;
}

.delete-button {
  padding: 0.75rem 1.375rem;
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
  /* color: #bbbbbb; */
}

.cart-left-section {
  width: 100%;
  margin-top: 20px;
}

.cart-right-section {
  width: 35%;
  height: 260px;
  margin-left: 5%;
  margin-top: 80px;

  border: 1px solid #dddddd;
}

.cart-right-section__top {
  display: flex;
  align-items: center;
  padding: 16px 30px;
}

.cart-right-section__bottom {
}

.cart-title {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.cart-container {
  display: flex;
  justify-content: space-between;
}

.cart-trash-svg {
  align-self: flex-end;
}

.cart-name {
  font-size: 1rem;
}

.cart-price {
  font-size: 1.2rem;
  font-weight: 600;
}

.amount-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  padding: 5px 20px 20px;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.amount-box__title {
  font-size: 20px;
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

.amount-box__price {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
  underline: 1px solid #dddddd;
  font-size: 18px;
}

.amount-box__price span {
  underline: 5px solid #dddddd;
}

.amount-box__button {
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
}

.amount-box__button[disabled] {
  opacity: 0.5;
}

.card-image {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  max-width: 144px;
  max-height: 144px;

  object-fit: cover;
}
