.cart-section {
  padding: 24px 100px;
  margin-bottom: 50px;
}

.cart-section__title {
  font-size: 24px;
  font-weight: 600;
}

.delete-button {
  padding: 12px 22px;
  border: 1px solid #bbbbbb;
}

.cart-left-section {
  width: 100%;
  margin-top: 20px;
}

.cart-right-section {
  width: 35%;
  height: 260px;
  margin-left: 5%;
  margin-top: 80px;

  border: 1px solid #dddddd;
}

.cart-right-section__top {
  display: flex;
  align-items: center;
  padding: 16px 30px;
}

.cart-right-section__bottom {
}

.cart-title {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.cart-container {
  display: flex;
  justify-content: space-between;
}

.cart-trash-svg {
  align-self: flex-end;
}

.cart-name {
  font-size: 20px;
}

.cart-price {
  color: #333333;
  align-self: flex-end;
}

.cart-amount-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  border: 1px solid #dddddd;
  padding: 0 20px 15px;
  height: 200px;
}

.cart-amount-box__title {
  font-size: 20px;
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

.cart-amount-box__price {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
  underline: 1px solid #dddddd;
  font-size: 18px;
}

.cart-amount-box__price span {
  underline: 5px solid #dddddd;
}

.cart-amount-box__button {
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
}

.cart-amount-box__button[disabled] {
  opacity: 0.5;
}
