.order-section {
  padding: 1.5rem 7.5rem;
}

.order-section__title {
  font-size: 24px;
  font-weight: 600;
}

.order-container {
  display: flex;
  justify-content: space-between;
}

.order-title {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.order-name {
  font-size: 1.2rem;
}

.order-info {
  color: #888888;
}

.order-left-section {
  width: 100%;
  margin-top: 50px;
}

.order-right-section {
  width: 35%;
  height: 260px;
  margin-left: 5%;
  margin-top: 80px;

  border: 1px solid #dddddd;
}

.order-right-section__top {
  display: flex;
  align-items: center;
  padding: 16px 30px;
}

.order-right-section__bottom {
}

.order-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.order-list__header {
  width: 100%;
  padding: 30px 50px;
  margin-top: 50px;
  font-size: 1.2rem;
  background: #e2e2e2;
  border-radius: 0.5rem;
  border: 1px solid #aaaaaa;
}

.order-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 50px;
  border-radius: 0.5rem;

  border: 1px solid #aaaaaa;
}

.order-detail-container {
  display: flex;
  justify-content: flex-end;
  margin: 50px 0;
}

.order-detail-title {
  font-size: 1rem;
}
