.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 120px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.product-info__name {
  font-size: 1rem;
  line-height: 1.1rem;
}

.product-info__price {
  font-size: 1rem;
  font-weight: bold;
}

.product-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 50px;
}

.product-detail-info {
  width: 100%;
}

.product-detail-info__name {
  font-size: 1.25rem;
}

.product-detail-info__price {
  font-size: 1.25rem;
}

.product-detail-button {
  width: 100%;
  padding: 20px;
  background: #8bacaa;
  font-size: 20px;
  color: white;
  border-radius: 0.5rem;
}

.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 5rem;
}

.pagination {
  display: flex;
  justify-content: space-between;

  margin: 0 100px;
}

.pagination button {
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.selected-page {
  font-size: 18px;
  font-weight: bold;
}

.product-image {
  border-radius: 0.5rem;
  width: 100%;
  height: 350px;

  object-fit: cover;
}

.product-detail-image {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  max-width: 388px;
  max-height: 500px;

  object-fit: cover;
}
