.number-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-input {
  width: 72px;
  height: 58px;
  border: 1px solid #dddddd;
  text-align: center;
  font-size: 24px;
}

.number-input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  border: 1px solid #dddddd;
  font-size: 100%;
  cursor: pointer;
}

.number-input-button:focus {
  outline: none;
}
